.Dashboard{
    background-color: aliceblue;
    box-shadow: 100px 100px 100px 100px rgba(0,0,0,0.2);
    display: flex;
    border-radius: 10px;
    padding: 5%;
}

.Dash{
    background-color: rgb(0, 0, 115);
    width: 10vw;
    left: 0;
    height: auto;
    border-radius: 10px;
    z-index: 3;
    
}

.Dash_ul2{
    list-style: disc;
    align-items: center;
}

.Dash_ul_li2{
    text-align: left;
    width: 100%;
    color: rgb(18, 2, 2);
    border-radius: 100px;
    background-color: rgba(0, 0, 255, 0.047);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
}

.Guide {
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
    color: black;
    padding: 5%;
    padding-left: 12%;
     
}

.GuidePoints{
    position: relative;

}