
Footer{
    color: rgb(0, 0, 0);
    display: grid;
    height: 15vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: aliceblue;;
    font-family:'Courier New', Courier, monospace;
    margin: 30px 0px 0px 0px;
    padding: 5px 0px 0px 0px;
    position:relative;
    left: 0;
    bottom: 0;
    width: 100%;
    /* box-shadow: 5px 5px 5px 5px rgb(255, 255, 255); */
    box-shadow: 100px 100px 100px 100px rgba(0,0,0,0.2);
    z-index: 3;
    border-radius: 10px;
}

  li {
    border: none;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }

  li Link {
    color : white
  }
  
  li:hover {
    background-color:#0b79ff;
  }

  a {
    margin: 5px;
  }

  @keyframes glow {

    0%{
      box-shadow: none;
    }

    50%{
      box-shadow: 1px 1px  1px 1px #4999fa;
    }

    100%{
      box-shadow: 2px 2px 2px 2px #4999fa;
    }    
  }
  
  svg:hover {
    border-color:#0b79ff;
    border-radius: 10px;
    animation: glow .2s 1;
    box-shadow: 2px 2px 2px 2px #4999fa;
  }

 